ul {
  list-style-type: none;
}

.container {
  margin-top: 1cm;
  border-radius: 10px;
}

.entercity {
  border-radius: 10px;
}

.search {
  border-radius: 10px;
  padding: 10px 30px;
}

.col-3 {
  font-size: 25px;
  font-weight: bold;
}
