body {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  border-radius: 10px;

  margin-top: 1cm;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.app-body-wrapper {
  max-width: 600px;
  margin: 20px auto;
}

.app-body {
  border-radius: 10px;
  border: 1px solid plum;

  padding: 10px;
}

.entercity {
  border-radius: 10px;
  border-style: ridge;
  margin-top: 0.5cm;
}

.search {
  border-radius: 10px;
  padding: 1px 30px;
  border-style: ridge;
  margin-top: 0.5cm;
}

.col-3 {
  font-size: 30px;
  font-weight: 400;
}
